.nav {
  height: 100%;
  min-width: 14rem;
  max-width: 14rem;
  background: $color_primary;
  font-weight: bold;

  @include mediaQuery(tab-port) {
    min-width: 6rem;
    max-width: 6rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    height: inherit;
    padding: 2rem 1rem;
  }
}
