.table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  & .row {
    flex-grow: 1;
    flex-basis: auto;

    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    @include mediaQuery(tab-land) {
      flex-wrap: wrap;
    }

    & .col {
      flex-grow: 1;
      flex-basis: auto;

      width: 100%;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      margin: .5rem;

      &-1 {
        flex-grow: 1;
      }

      &-2 {
        flex-grow: 2;
      }
    }
  }
}
