.btn {
  width: 12rem;
  height: 3.5rem;
  border-radius: 10rem;
  background-color: $color_btn_background;
  color: $color_btn_text_light;
  outline: none;
  cursor: pointer;

  &:active {
    transform: scale3d(1.05, 1.05, 1.05);
    transition: all 100ms ease;
    box-shadow: none;
  }

  &-success {
    border: 1px solid $color_btn_success_border;

    &:hover {
      background-color: $color_btn_success_dark;
      box-shadow: 0 .2rem 1rem rgba($color_btn_success_dark, .15);
    }

    &:active {
      background-color: $color_btn_success_light;
    }
  }

  &-error {
    border: 1px solid $color_btn_error_border;

    &:hover {
      background-color: $color_btn_error_dark;
      box-shadow: 0 .2rem 1rem rgba($color_btn_error_dark, .15);
    }

    &:active {
      background-color: $color_btn_error_light;
    }
  }

  &-form-submit {
    margin-top: 4rem;
    border: 1px solid $color_accent_dark;
    border-radius: 0;
  }
}
