.card {
  position: relative;
  min-height: 40rem;
  min-width: 30rem;
  perspective: 125rem;
  cursor: crosshair;

  &-side {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 40rem;
    min-width: 100%;
    border-radius: .8rem;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 1s ease;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &-front {
      background: linear-gradient(22deg, rgba(92,92,92,1) 0%, rgba(0,0,0,1) 100%);
    }

    &-back {
      transform: rotateY(180deg);
      background-image: url("assets/css_is_awesome.png");
      background-color: #404040;
      height: inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &:hover &-side-front {
    transform: rotateY(-180deg);
  }

  &:hover &-side-back {
    transform: rotateY(0);
  }
}
