.form {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6rem 0;
  border: 1px solid $color_gray_dark;
  margin: 7rem;

  @include mediaQuery(tab-land) {
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
  }

  &-logo {
    flex-grow: 1;

    padding: 10rem;

    background-image: url("assets/logo.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
  }

  &-fields {
    flex-grow: 1;

    & .form-group {
      text-align: left;
      color: $color_accent_dark;

      &-inline {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &:nth-child(2n + 1) {
          margin-left: 2rem;
        }
      }
    }

    & .form-label {
      font-size: 1.6rem;
      display: block;
      transition: all .3s;
      margin-top: .5rem;
    }

    & .form-input {
      font-size: 1.6rem;
      color: $color_text;
      caret-color: $color_accent;

      padding: 1rem;
      margin: 1rem 0 0 0;
      width: 44rem;

      outline: none;
      border: none;
      border-bottom: 1px solid $color_accent_dark;
      border-radius: 2px;
      background-color: rgba($color_bg_secondary, .5);

      &#phone-number {
        width: 28rem;

        &-prefix {
          width: 10rem;
        }
      }

      &:focus {
        border-bottom: 1px solid $color_accent;
      }

      &::selection {
        background-color: $color_accent_dark;
        color: $color_text;
      }

      &:placeholder-shown + .form-label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
      }

      //&:focus:invalid {
      //  border-bottom: 3px solid $color_btn_error_dark;
      //}
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
