.nav-item {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  margin: 1rem 0;
  padding-top: 4rem;
  padding-bottom: 1.5rem;
  position: relative;

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba($color_text, 0.55);
  transition: all ease-out 300ms;

  @include mediaQuery(tab-port) {
    padding-left: 1rem;
  }

  & .nav-icon {
    margin-right: 1rem;
  }

  & .nav-label {
    @include mediaQuery(tab-port) {
      display: none;
    }
  }

  &.active {
    color: $color_text;
  }

  &:not(.active):hover {
    color: rgba($color_accent, 0.85);
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
                    to right,
                    $color_accent_dark,
                    $color_gray_dark)
  }

  &:not(.active)::after {
    opacity: 0.3;
  }
}
