.post {
  margin-top: 4rem;

  & .header {
    font-size: 6rem;
    border-bottom: 1px solid $color_accent;
  }

  & .subheader {
    font-size: 4rem;
    border-bottom: 1px solid $color_accent;
    font-style: italic;
    margin-bottom: 4rem;
  }

  & .component {
    margin: 6rem 0;

    & :not(:last-child) {
      //margin-right: 4rem;
    }
  }

  & .code {
    margin: 0 1rem 1rem 1rem;

    & pre {
      border-radius: 3rem;
    }
  }
}
