/*
0 - 600px       Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet landscape
[1200 - 1800]   Normal styles
1800px+         Big desktop

$breakpoints:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin mediaQuery($breakpoint) {
  @if $breakpoint == phone { //600px
    @media only screen and (max-width: 37.5em) {
      @content
    };
  }
  @if $breakpoint == tab-port { //900px
    @media only screen and (max-width: 56.25em) {
      @content
    };
  }
  @if $breakpoint == tab-land { //1200px
    @media only screen and (max-width: 75em) {
      @content
    };
  }
  @if $breakpoint == big-desktop { //1800
    @media only screen and (min-width: 112.5em) {
      @content
    };
  }
}
