// MAIN COLORS
$color_primary: #33333a;
$color_primary_dark: #015149;
$color_primary_darker: #003630;
$color_primary_light: #0BA393;
$color_primary_lighter: #40AEA2;

$color_accent: #FFC107;
$color_accent_dark: #A17900;

$color_text: #D8D8D8;
$color_gray_light: #BDBDBD;
$color_gray_dark: #757575;
$color-black: #000000;
$color-white: #FFFFFF;

// BACKGROUND COLORS
$color_bg_primary: #1B2124;
$color_bg_secondary: #3A474F;

// BUTTONS COLORS
$color_btn_text_light: #D8D8D8;
$color_btn_text_dark: #222222;

$color_btn_background: #1C2429;
$color_btn_success_border: #25B04A;
$color_btn_success_light: #0D5B22;
$color_btn_success_dark: #003B10;
$color_btn_error_border: #EC3232;
$color_btn_error_light: #9F0202;
$color_btn_error_dark: #7B0000;
