.home-page {
  .subheader {
    margin-top: 15rem;
    margin-bottom: 1rem;
    border: none;

    font-size: 2.5rem;
    font-style: normal;
  }

  .link {
    border: none;
    font-size: 1.7rem;
    font-style: normal;
    color: $color_accent;
    background-color: $color_bg_secondary;
    padding: 2rem;
    border-radius: 2rem;
    text-decoration: none;
  }
}
