<template>
  <div class="card-page">
    <div class="table post">
      <div class="row">
        <div class="col col-1">
          <div class="header">Card</div>
        </div>
      </div>
      <div class="row">
        <div class="col col-1">
          <div class="component">
            <card></card>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-1 u-col-direction">
          <div class="subheader">OOCSS</div>
          <div class="code" v-highlight>
                <pre class="language-markup">
                  <code>
                    {{cardMarkupOOCSS}}
                  </code>
                </pre>
          </div>
          <div class="code" v-highlight>
                <pre class="language-scss">
                  <code>
.card {
  position: relative;
  min-height: 40rem;
  min-width: 30rem;
  perspective: 125rem;
  cursor: crosshair;

  &-side {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 40rem;
    min-width: 100%;
    border-radius: .8rem;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 1s ease;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &-front {
      background: linear-gradient(22deg, rgba(92,92,92,1) 0%, rgba(0,0,0,1) 100%);
    }

    &-back {
      transform: rotateY(180deg);
      background-image: url("assets/css_is_awesome.png");
      background-color: #404040;
      height: inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &:hover &-side-front {
    transform: rotateY(-180deg);
  }

  &:hover &-side-back {
    transform: rotateY(0);
  }
}
                  </code>
                </pre>
          </div>
        </div>
        <div class="col col-1 u-col-direction">
          <div class="subheader">BEM</div>
          <div class="code" v-highlight>
                <pre class="language-markup">
                  <code>
                    {{cardMarkupBEM}}
                  </code>
                </pre>
          </div>
          <div class="code" v-highlight>
                <pre class="language-scss">
                  <code>
.card {
  position: relative;
  min-height: 40rem;
  min-width: 30rem;
  perspective: 125rem;
  cursor: crosshair;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 40rem;
    min-width: 100%;
    border-radius: .8rem;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 1s ease;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background: linear-gradient(22deg, rgba(92,92,92,1) 0%, rgba(0,0,0,1) 100%);
    }

    &--back {
      transform: rotateY(180deg);
      background-image: url("assets/css_is_awesome.png");
      background-color: #404040;
      height: inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
                  </code>
                </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Card from '../components/Card'

  export default {
    name: 'CardPage',
    components: {
      Card
    },
    data: function () {
      return {
        cardMarkupOOCSS: `
<div class="card">
  <div class="card-side card-side-front">
    </div>
    <div class="card-side card-side-back">
  </div>
</div>`,
        cardMarkupBEM: `
<div class="card">
  <div class="card__side card__side--front">
    </div>
    <div class="card__side card__side--back">
  </div>
</div>`
      }
    }
  }
</script>
