<template>
  <div class="form-page">
    <div class="table post">
      <div class="row">
        <div class="col col-1">
          <div class="header">Form</div>
        </div>
      </div>
      <div class="row">
        <div class="col col-1">
          <div class="component">
            <registration-form></registration-form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-1 u-col-direction">
          <div class="subheader">OOCSS</div>
          <div class="code" v-highlight>
                <pre class="language-markup">
                  <code>
                    {{formMarkupOOCSS}}
                  </code>
                </pre>
          </div>
          <div class="code" v-highlight>
                <pre class="language-scss">
                  <code>
                    {{formScssOOCSS}}
                  </code>
                </pre>
          </div>
        </div>
        <div class="col col-1 u-col-direction">
          <div class="subheader">BEM</div>
          <div class="code" v-highlight>
                <pre class="language-markup">
                  <code>
                    {{formMarkupBEM}}
                  </code>
                </pre>
          </div>
          <div class="code" v-highlight>
                <pre class="language-scss">
                  <code>
                    {{formScssBEM}}
                  </code>
                </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Form from '../components/Form'

  export default {
    name: 'FormPage',
    components: {
      registrationForm: Form
    },
    data: function () {
      return {
        formMarkupOOCSS: `
<div class="form">
  <div class="form-logo"></div>
  <div class="form-fields">
    <div class="form-group">
      <label for="login" class="form-label"></label>
      <input type="text" id="login"
              class="form-input"
              placeholder="Login">
    </div>
    <div class="form-group">
      <label for="email" class="form-label"></label>
      <input type="email" id="email"
              class="form-input"
              placeholder="E-mail">
    </div>
    <div class="form-group">
      <label for="password" class="form-label"></label>
      <input type="password" id="password"
              class="form-input"
              placeholder="Password">
    </div>
    <div class="form-group">
      <label for="phone-number-prefix" class="form-label"></label>
      <input type="number" id="phone-number-prefix"
              class="form-input"
              placeholder="Prefix">
      <label for="phone-number" class="form-label"></label>
      <input type="number" id="phone-number"
              class="form-input"
              placeholder="Phone number">
    </div>
  </div>
</div>`,
        formScssOOCSS: `
.form {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6rem 0;
  border: 1px solid $color_gray_dark;
  margin: 7rem;

  @include mediaQuery(tab-land) {
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
  }

  &-logo {
    flex-grow: 1;

    padding: 10rem;

    background-image: url("assets/logo.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
  }

  &-fields {
    flex-grow: 1;

    & .form-group {
      text-align: left;
      color: $color_accent_dark;

      &-inline {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &:nth-child(2n + 1) {
          margin-left: 2rem;
        }
      }
    }

    & .form-label {
      font-size: 1.6rem;
      display: block;
      transition: all .3s;
      margin-top: .5rem;
    }

    & .form-input {
      font-size: 1.6rem;
      color: $color_text;
      caret-color: $color_accent;

      padding: 1rem;
      margin: 1rem 0 0 0;
      width: 44rem;

      outline: none;
      border: none;
      border-bottom: 1px solid $color_accent_dark;
      border-radius: 2px;
      background-color: rgba($color_bg_secondary, .5);

      &#phone-number {
        width: 28rem;

        &-prefix {
          width: 10rem;
        }
      }

      &:focus {
        border-bottom: 1px solid $color_accent;
      }

      &::selection {
        background-color: $color_accent_dark;
        color: $color_text;
      }

      &:placeholder-shown + .form-label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
      }

      //&:focus:invalid {
      //  border-bottom: 3px solid $color_btn_error_dark;
      //}
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}`,
        formMarkupBEM: `
<div class="form">
  <div class="form__logo"></div>
  <div class="form__fields">
    <div class="form__group">
      <label for="login" class="form__label"></label>
      <input type="text" id="login"
              class="form__input"
              placeholder="Login">
    </div>
    <div class="form__group">
      <label for="email" class="form__label"></label>
      <input type="email" id="email"
              class="form__input"
              placeholder="E-mail">
    </div>
    <div class="form__group">
      <label for="password" class="form__label"></label>
      <input type="password" id="password"
              class="form__input"
              placeholder="Password">
    </div>
    <div class="form__group">
      <label for="phone-number-prefix" class="form__label"></label>
      <input type="number" id="phone-number-prefix"
              class="form__input"
              placeholder="Prefix">
      <label for="phone-number" class="form__label"></label>
      <input type="number" id="phone-number"
              class="form__input"
              placeholder="Phone number">
    </div>
  </div>
</div>`,
        formScssBEM: `
.form {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6rem 0;
  border: 1px solid $color_gray_dark;
  margin: 7rem;

  @include mediaQuery(tab-land) {
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
  }

  &__logo {
    flex-grow: 1;

    padding: 10rem;

    background-image: url("assets/logo.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
  }

  &__fields {
    flex-grow: 1;

    & .form__group {
      text-align: left;
      color: $color_accent_dark;

      &__inline {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &:nth-child(2n + 1) {
          margin-left: 2rem;
        }
      }
    }

    & .form__label {
      font-size: 1.6rem;
      display: block;
      transition: all .3s;
      margin-top: .5rem;
    }

    & .form__input {
      font-size: 1.6rem;
      color: $color_text;
      caret-color: $color_accent;

      padding: 1rem;
      margin: 1rem 0 0 0;
      width: 44rem;

      outline: none;
      border: none;
      border-bottom: 1px solid $color_accent_dark;
      border-radius: 2px;
      background-color: rgba($color_bg_secondary, .5);

      &#phone-number {
        width: 28rem;

        &-prefix {
          width: 10rem;
        }
      }

      &:focus {
        border-bottom: 1px solid $color_accent;
      }

      &::selection {
        background-color: $color_accent_dark;
        color: $color_text;
      }

      &:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
      }

      //&:focus:invalid {
      //  border-bottom: 3px solid $color_btn_error_dark;
      //}
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}`
      }
    }
  }
</script>
