<template>
  <div class="home-page">
    <div class="table post">
      <div class="row">
        <div class="col col-1">
          <div class="header">SCSS - DEMO</div>
        </div>
      </div>
      <div class="row">
        <div class="col col-1">
          <div class="subheader">
            Repository
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-1">
          <a class="link"
             target="_blank"
             :href="url">
            {{url}}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Home',
    data: function () {
      return {
        url: 'https://bitbucket.org/bogdan_markiewka/scss-example.git'
      }
    }
  }
</script>
