<template>
  <div class="card">
    <div class="card-side card-side-front">
    </div>
    <div class="card-side card-side-back">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Card'
  }
</script>
