<template>
  <form class="form" action="#">
    <div class="form-logo"></div>
    <div class="form-fields">
      <div class="form-group">
        <input type="text" id="login" class="form-input" placeholder="Login" required>
        <label for="login" class="form-label">Login</label>
      </div>
      <div class="form-group">
        <input type="email" id="email" class="form-input" placeholder="E-mail" required>
        <label for="email" class="form-label">E-mail</label>
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-input" placeholder="Password" required>
        <label for="password" class="form-label">Password</label>
      </div>
      <div class="form-group form-group-inline">
        <input type="number" id="phone-number-prefix" class="form-input" placeholder="Prefix" required>
        <label for="phone-number-prefix" class="form-label">Prefix</label>
        <input type="number" id="phone-number" class="form-input" placeholder="Phone number" required>
        <label for="phone-number" class="form-label">Phone number</label>
      </div>
      <div class="form-group">
        <button class="btn btn-form-submit">Submit</button>
      </div>
    </div>
  </form>
</template>

<script>
  export default {
    name: 'Form'
  }
</script>
