<template>
  <nav class="nav">
    <div class="nav-list">
      <nav-link
        to="/"
        label="Home"
        icon="home-outline"
      />
      <nav-link
        to="/button"
        label="Button"
        icon="play-outline"
      />
      <nav-link
        to="/card"
        label="Card"
        icon="reader-outline"
      />
      <nav-link
        to="/form"
        label="Form"
        icon="documents-outline"
      />
    </div>
  </nav>
</template>

<script>
  import NavLink from './NavLink'

  export default {
    name: 'Navigation',
    components: { NavLink },
    comments: {
      NavLink
    }
  }
</script>
