<template>
  <router-link :to="to" class="nav-item">
    <ion-icon
      :name="icon"
      :size="size"
      class="nav-icon"
    ></ion-icon>
    <span class="nav-label">
      {{label}}
    </span>
  </router-link>
</template>

<script>
  export default {
    name: 'NavLink',
    props: {
      to: {
        type: String,
        default: '/'
      },
      icon: {
        type: String,
        default: 'home-outline'
      },
      size: {
        type: String,
        default: 'medium'
      },
      label: {
        type: String,
        default: 'Link'
      }
    }
  }
</script>
