<template>
  <div class="app">
    <div class="app-navigation">
      <navigation/>
    </div>
    <div class="app-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import Navigation from './components/Navigation'

  export default {
    name: 'App',
    components: { Navigation },
    comments: {
      Navigation
    }
  }
</script>

<style lang="scss">
  @import '/styles/main';
</style>
