*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: $color_bg_primary;
}

.app {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

.app-navigation {
  //flex-grow: 10;

  @include mediaQuery(tab-port) {
    flex-grow: 5;
  }
}

.app-content {
  flex-grow: 100;
}

ion-icon {
  font-size: 1.8rem;
}

::selection {
  background-color: $color_accent_dark;
  color: $color_text;
}
