.u-test-square {
  display: block;
  width: 10rem;
  height: 10rem;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1px solid red;
}

.u-test-content {
  display: block;
  width: 100%;
  height: 20rem;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1rem solid violet;
}

.u-col-direction {
  flex-direction: column !important;
}
